.nc_body {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;

  .ncb_left {
    flex: 0 0 380px;
    padding: 100px 24px;

    .c_info p{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ncb_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 300px;
    padding: 100px 24px;

    img {
      max-width: 80%;
      max-height: 40%;
    }

    p {
      margin-top: 20px;
    }
  }

  input, textarea {
    border: 2px solid rgb(37, 41, 46);
    width: 100%;
    height: 50px;

    font-size: 16px;
    border-radius: 12px;
    padding: 12px;
  }

  textarea {
    resize: none;
    height: 200px;
    font-family: Arial;
    margin: 14px 0;
  }

  button {
    cursor: pointer;
    width: 100%;
    margin-top: 24px;
    height: 45px;
    border-radius: 12px;
    background-color: rgb(37, 41, 46);
    border: none;
    box-shadow: blue 0 0 0 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2em;


    &.pending,&[disabled] {
      cursor: not-allowed;
      background-color: rgba(37, 41, 46, 0.7);
    }
  }


  p.status {
    text-align: right;

    &.operate_error {
      color: red;
    }
  }
}
