.nc_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 24px;

  .nc_logo {
    font-family: NcFont;
    font-size: 34px;
    font-weight: bold;
    span {
      font-size: 18px;
      font-weight: 500;
      padding-left: 14px;
    }
  }
}
